<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vk_status_away.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <vk_status_away.Properties.Settings>
            <setting name="access_token" serializeAs="String">
                <value>no_access_token</value>
            </setting>
            <setting name="user_id" serializeAs="String">
                <value>no_user_id</value>
            </setting>
            <setting name="timer_eneble" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timer_interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="status_back" serializeAs="String">
                <value>Статус возврата ещё не записан</value>
            </setting>
            <setting name="status_out" serializeAs="String">
                <value>Статус ухода ещё не написан</value>
            </setting>
            <setting name="auto_start" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="first_name" serializeAs="String">
                <value>no_first_name</value>
            </setting>
            <setting name="last_name" serializeAs="String">
                <value>no_last_name</value>
            </setting>
            <setting name="url_avatar" serializeAs="String">
                <value>no_avator</value>
            </setting>
            <setting name="current_status" serializeAs="String">
                <value>no_get_status</value>
            </setting>
        </vk_status_away.Properties.Settings>
    </userSettings>
</configuration>